* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #ffffff;
    color: #555;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* header */
h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;

}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: orange;
    color: #ffffff;
    border: 1px solid salmon;
    margin-right: 25px;
}

.btn-ghost:visited,
.btn-ghost:link,
input[type=submit] {
    color: orange;
    border: 1px solid salmon;
}

.btn:hover,
.btn-active,
input[type=submit] {

    background-color: #cf6d17;

}

.btn-ghost:hover,
.btn-ghost:active,
input[type=submit] {
    border: 1px solid #cf6d17;
    color: #ffffff;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #cf6d17;
}

/* nav */
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;

}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;

}

/* section */

section {
    padding: 60px 0;
}

h2 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #cf6d17;
    content: "  ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;

}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;

}

.box {
    padding: 1%;

}

h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;

}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;

}

/* imgs */
.section-meals {

    padding: 10px;
    margin-top: 340px;
}

.meals-showcase {

    list-style: none;
    width: 100%;

}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;

}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

.section-features .long-copy {
    margin-bottom: 30px;
}

/* work steps */
.box box {
    margin-top: 30px;
}

.section-steps {
    height: 630px;
}

.works-step {
    margin-bottom: 50px;
    margin-right: 25px;
    margin-top: 45px;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    /* margin-top: 30px; */

}

.steps-box:last-child {

    padding-left: 3%;
    margin-top: 70px;

}
#cur{
    cursor: pointer;
}
.app-screen {
    width: 40%;
    box-shadow: 10px 10px 5px #aaaaaa;
    height: 450px;
}

.works-step div {
    color: #cf6d17;
    border: 4px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 8px;
    float: left;
    font-size: 150%;
    margin-right: 25px;

}

/* .works-step:last-of-type {
    margin-bottom: 80px;
} */

.btn-app:link,
.btn-app:visited,
input[type=submit] {
    border: 0;

}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.app-screen {
    height: 450px;
    border-radius: 35px;
}
.clearfix {
    zoom: 1;
}

.clearfix::after {
    content: "  ";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* cities */
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;

}

.section-cities {
    margin-left: 5px;
    height: 550px;
}

.city-feature {
    margin-bottom: 5px;

}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #cf6d17;
    padding-bottom: 1px;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s, color 0.5s;
}

/* testimoonial */
.section-testimonials {

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #ddd2d2;
    background-attachment: fixed;
    height: 550px;

}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;
    position: relative;
    margin-left: 20px;
}

cite {
    font-size: 90%;
    display: block;
    margin-top: 25px;

}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

blockquote:before {
    content: '\201C';
    font-size: 500%;
    display: block;
    position: absolute;
    top: 0;
    left: -3px;
}

/* plans */
.section-plans {
    height: 600px;
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #ffffff;
    border-radius: 5px;
    width: 90%;
    margin-left: 10%;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;

}

.plan-price {

    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #cf6d17;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;

}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box:last-child {
    border: 0;
    text-align: center;
}

.plan-box:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* forms */
.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100%;
}

input[input=checkbox] {
    margin: 10px 5px 10px 0;
}

/* footer */
footer {
    background-color: #333;
    font-size: 80%;
    padding: 50px;

}

.footer-nav {
    list-style: none;
    float: left;

}

.social-links {
    list-style: none;
    float: right;

}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;

}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    margin: 0;
    color: #888;

}

.footer-nav li a:hover,
.footer-nav li a:hover {
    color: #ddd;

}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;

}

.fb:hover {
    color: blue;
}

.tw:hover {
    color: red;
}

.google:hover {
    color: #dd4b39;
}

.insta:hover {
    color: #ec1111;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}
